
*
{
    margin: 0;
    padding: 0;
}
.terms #container{
    padding: 100px;
}
.wrapper {
    width: 100%;
}
.img-banner {
    display: flex;
    width: 100%;
    height: 65vw;
    align-self: center;
}
.img-engage {
    display: flex;
    width: 35vw;
    height: 23vh;
    align-self: center;
}
.img-discover {
    display: flex;
    width: 35vw;
    height: 23vh;
    align-self: center;
}
.img-logo {
    width: 15vw;
    height: 15vw;
}
.body {
    font-family: 'Quicksand';
}
.button 
{
  background-color: #4B0082; 
  border: none;
  border-radius: 10cm;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.navButton 
{
  background-color: #4B0082; 
  border: none;
  border-radius: 10cm;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover 
{
    background-color: #9370DB; 
}
/*--Navigation--*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #077bff!important;
}
.navbar
{
    background-color: #fff;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 2vw;
}
/*--Home--*/
#home{
    width: 100%;
    text-align: center;
    padding: 30px;
}
#home h1{
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Quicksand';
}
#home h5{
    font-family: 'Quicksand';
    font-size: 16px;
}
#home p{
    font-family: 'Quicksand';
    font-size: 10px;
}
#about
{   
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #e2c5e2;
}
#about h5{
    font-family: 'Quicksand';
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

/*--Services--*/
#services
{
    background-color: #555;
    color: #efefef!important;
    padding-top: 50px;
    padding-bottom: 50px;
}
#servies h1
{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
    font-family: 'Quicksand';
}
#servies h1::after
{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin:20px auto 5px;
}
.services 
{
    margin-top: 40px;
}
.icon 
{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 50px;
    width: 50px;
}
#services p 
{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;  
    font-family: 'Quicksand';
}
.services .col-md-3:hover{
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
}
/*--Download--*/
#download
{   
    width: 100%;
    text-align: center;
    padding: 20px;
}
#download h2{
    font-family: 'Quicksand';
    font-size: 16px;
    text-align: center;
}
#download h5{
    font-family: 'Quicksand';
    font-size: 12px;
    text-align: center;
}
#testimony
{
    text-align: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#testimony h5{
    font-family: 'Quicksand';
    font-size: 18px;
    text-align: center;
}
/*--Footer--*/
#footer
{
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-family: 'Quicksand';
    font-style: italic;
    font-size: 2vw;
}
.fa-heart-o
{
    margin: 3px;
    color: red;
}
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators li {
    background-color: rgba(70, 70, 70, 0.25);
    padding: 2px;
    border-radius: 10cm;
  }
  
  .carousel-indicators .active {
    background-color: #444;
  }